Backend/.classpath
Backend/.gradle/
*.project
Backend/.settings/
Backend/bin/
Backend/build/
Backend/*.log
Backend/node_modules/
*.pyc
VRP/VS/Debug
VRP/VS/Release
*.db
*.obj
*.log
*.idb
*.pdb
VRP/VS/VS/Release
VRP/VS/VS/Debug
VRP/VS/.vs
*.opendb
.idea/
.vscode/
FrontEnd/package-lock.json
VRP/.vscode/
VRP/build/CMakeCache.txt
VRP/build/CMakeFiles/
VRP/build/Makefile
VRP/build/VRP
VRP/build/cmake_install.cmake
